<!DOCTYPE html>
<html>

<head>
    <title>testing</title>
</head>

<body>
    <h1>Hello World</h1>
    <h3>These are a few of the pages</h3>
    <ul>
        <li><a href="/about">About Me</a></li>
        <li><a href="/small_projects">Small Projects</a></li>
        <li><a href="/major_projects.html">Major Projects</a></li>
    </ul>
    <p>I am going to be hosting two projects that I have been working on for a while in a few months.
        They are a basic AI and a natural selection simulation</p>
    
</body>

</html>
